
body{
    background-color: #e3e3e3;
}

main{
    position: relative;
    width: 100%;
    padding-top: 161px;
    background-color: #e3e3e3;
}

h2,h3,h4{
    font-family: Bahnschrift,sans-serif;
}


div#blocco-titolo-insProdotto{
    width: 100%;
}
div#blocco-titolo-insProdotto h2{
    text-align: center;
}


form#form-inserimento-prodotto{
    width: 100%;
}

div#blocco-dati-prodotto{
    width: 900px;
    margin: auto;
    margin-top: 45px;
    overflow: hidden;
}

div.blocco-input-prodotto-totale{
    width: 45%;
    margin: 0px 2.3%;
    display: inline-block;
    float: left;
}
div.blocco-input-prodotto-totale h3{
    margin: 0px;
    font-size: 19px;
    margin-bottom: 10px;
}

div.blocco-input-prodotto{
    width: 100%;
    margin-bottom: 25px;
}
div.blocco-input-prodotto div{
    width: 100%;
}
div.blocco-input-prodotto input {
    width: 100%;
    height: 34px;
    font-size: 17px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
}

div.blocco-input-prodotto input[disabled] {
    background-color: whitesmoke;
}

div.blocco-input-prodotto input[type="file"] {
    display: none;
}
div.blocco-input-prodotto label.file-scelta {
    display: block;
    width: 44%;
    height: 23px;
    border: none;
    margin: 0px;
    background-color: black;
    color: whitesmoke;
    border-radius: 8px;
    font-family: Bahnschrift,sans-serif;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
div.blocco-input-prodotto label.file-scelta:hover {
    background-color: #008190;
}


div.blocco-input-prodotto label{
    font-size: 14px;
    font-family: Bahnschrift,sans-serif;
    margin-top: 14px;
}

textarea{
    width: 100%;
    margin-top: 30px;
    height: 300px;
    background-color: white;
    font-size: 17px;
    border-radius: 8px;
}


/* bottone inserimento */
div#blocco-bottone-inserimento{
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
}

div#blocco-bottone-inserimento input {
    width: 100%;
    height: 34px;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 16px;
    font-family: Bahnschrift,sans-serif;
    font-size: 17px;
    cursor: pointer;
}

div#blocco-bottone-inserimento input:hover {
    background-color: #008190;
}
/* bottone inserimento */


/* media query */
@media screen and (max-width: 930px) {
    div#blocco-dati-prodotto{
        width: 98%;
    }
}

@media screen and (max-width: 600px) {
    div.blocco-input-prodotto-totale{
        width: 95%;
        margin: auto;
        display: block;
        float: none;
    }

    div#blocco-bottone-inserimento{
        width: 95%;
    }
}
